@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>工单管理</h5>
            </div>
            <div class="ibox-content">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-inline" style="height: 38px">
                            <div class="layui-input-inline" style="width: 100px;">
                                <select name="key" lay-filter="key" id="search_column">
                                    <option value="title" selected>主题</option>
                                    <option value="custom_name">客户名</option>
                                </select>
                            </div>
                            <div class="layui-input-inline resetInput">
                                <input type="text" name="name" id="title" placeholder="下拉选择搜索条件" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline resetInput">
                            <label class="layui-form-label" style="padding-left: 0">创建时间</label>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" name="beginTime" id="beginTime" placeholder="开始时间" autocomplete="off"
                                       class="layui-input">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" name="endTime" id="endTime" placeholder="结束时间" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center">
                        <div>
                            <button class=" layui-btn btn-search layui-btn-sm" data-type="reload">
                                <i class="fa fa-search" style="font-size: 12px !important;"> </i>查询
                            </button>
                            <button class="layui-btn layui-btn-primary layui-btn-sm btn-reset" data-type="reset">重置
                            </button>
                            <button class="layui-btn layui-bg-green layui-btn-sm" id="create">新增工单</button>
                            <button class="layui-btn layui-bg-green layui-btn-sm" id="import">导入工单</button>
                        </div>
                    </div>
                </form>

                <div class="layui-tab layui-tab-brief" lay-filter="ticketTab">
                    <ul class="layui-tab-title">
                        <li class="layui-this" data-type="1">我的未解决工单</li>
                        <li data-type="2">公司未解决工单</li>
                        <li data-type="3">所有未解决工单</li>
                        <li data-type="4">我的已解决工单</li>
                        <li data-type="5">所有工单</li>
                        <li data-type="6">所有紧急工单</li>
                        <li data-type="7">所有未分配工单</li>
                        <li data-type="8">所有已关闭工单</li>
                        <li data-type="9">所有最近一天更新工单</li>
                        <li data-type="10">所有长时间未更新工单</li>
                    </ul>
                </div>
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <table class="layui-hide" id="ticketTable" lay-filter="ticketTable"></table>
                                <script type="text/html" id="bar">
                                    <button class="layui-btn layui-btn-xs" lay-event="edit">修改</button>
                                    <button class="layui-btn layui-btn-xs" lay-event="view">查看</button>
                                    <button class="layui-btn layui-btn-danger  layui-btn-xs" lay-event="delete">删除</button>
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="${ctxPath}/static/modular/ticket/ticket/index.js"></script>
@}
