<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjzddata.modular.productCallCode.dao.ProductCallMapMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hjzddata.modular.productCallCode.model.ProductCallMap">
        <id column="product_id" property="productId" />
        <result column="call_status_id" property="callStatusId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        product_id, call_status_id
    </sql>

</mapper>
